@import "tailwindcss";

@theme {
  --color-keel-50: #faf5ff;
  --color-keel-100: #f3e8ff;
  --color-keel-200: #e9d5ff;
  --color-keel-300: #d8b4fe;
  --color-keel-400: #c084fc;
  --color-keel-500: #a855f7;
  --color-keel-600: #9333ea;
  --color-keel-700: #7e22ce;
  --color-keel-800: #6b21a8;
  --color-keel-900: #581c87;
  --color-keel-950: #3b0764;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
